/* HEADER */
.fs-head {
  background-color: #379bce;
  height: 50px;
position: relative;
}

.fs-logo-holder {
  width: 200px;
  height: 50px;
  background-color: #174c74;
  padding: 7px 0 0 20px;
   }

.fs-logo {
  width: 160px;
  height: 34px;
  background-image: url("../images/fs-logo-new.png");
  background-size: 160px 34px;
  background-repeat: no-repeat; }

.fs-united {
  background-color: #379bce;
  height: 50px;
  position: absolute;
  left: 200px;
  top: 0;

  padding: 14px 0 0 65px;
  color: white; }
.fs-united p {
  text-transform: uppercase;
  line-height: 7px;
  height: 12px;
  margin-bottom: 0;
}

.fs-languages {
  background-color: #379bce;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 15px 0 0 0;
}
.fs-languages span {
  margin: 0 7px 0 7px;
  cursor: pointer; }
.fs-languages span:hover {
  text-decoration: underline; }
.fs-languages span.fs-lan-selected {
  text-decoration: underline; }

.fs-menu-holder {
  padding: 0 20px 0 10px;
  background-color: white;
  position: relative;
  height: 33px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); }

.fs-menu {
  /** Apply to menu element if selected */ }
.fs-menu span {
  cursor: pointer;
  font: normal normal 400 12px/normal "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid transparent;
  vertical-align: top;
  white-space: nowrap;
  margin: 0 8px;
  max-width: 155px;
  min-width: 20px;
  /*overflow: hidden; Rimettere se dovesse dare problemi*/
  padding: 8px 0 4px 0;
  text-overflow: ellipsis;
  position: relative; }
.fs-menu span:hover {
  border-color: #40769e;
  transition: border-color 0.218s ease 0s; }
.fs-menu span.fs-menu-selected {
  color: #174c74;
  font: normal normal 900 12px/normal "Roboto", sans-serif;
  border-bottom: 4px solid #40769e;
  transition: border-color 0.218s ease 0s; }

#searchFS {
  position: absolute;
  top: 3px;
  right: 20px; }

#searchFS input[type="text"] {
  /* Reset Previous Search Box */
  box-shadow: none;
  color: #666666;
  font-weight: normal;
  /* End reset */
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 4px 15px 4px 30px !important;
  transition: all 0.7s ease 0s;
  width: 100px; }
#searchFS input[type="text"]:focus {
  width: 180px; }

.navbar{
  font-size: 13px;
  margin-bottom: 0;
  background-color: $custom-color1;

  .fa{
    font-size: 16px;
    margin-right: 5px;
  }

  li {
    a{
      padding: 15px 25px;
      position: relative;

      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background-color: $fx-cool-blue;
        @include animate();
      }

      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        height: 50%;
        width: 1px;
        background-color: $fenix-secondary-text;
        @include fx-transfor-me(translateY(-50%));
      }


    }

    a:hover{
      &:before{
        height: 4px;
        @include animate();
      }
    }

    &:last-child{
      a{
        &:after{

          background-color: transparent;
        }


      }
    }

  }

}

.navbar-brand{
  display:none; //There is already a LOGO div
}