/* Faostat Base Style */

.faostat-content{
  background-color: white;
  padding-top: 15px;
}

/* FAOSTAT Typography */
.fs-bold {
  font-weight: 700; }

.fs-text-standard-blue {
  color: $fx-cool-blue; }

h3 {
  font: normal normal 400 16px/normal "Roboto Condensed", sans-serif !important;
  color: $fx-cool-blue; }

h4 {
  font: normal normal 400 13px/normal "Roboto Condensed", sans-serif !important; }

h5 {
  font: normal normal 400 12px/normal "Roboto", sans-serif;
  text-transform: uppercase;
  color: $fx-cool-blue; }

b {
  font-weight: 700; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important; }

em {
  font-style: normal; }

input {
  padding-left: 5px !important; }

.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

