/* Faostat / Fenix metadata */

.btn.json-editor-btn-collapse{
  background-color: transparent;
  border-color: transparent;

  &:hover{
    background-color: transparent;
  }

}

.faostat-download-metadata-holder{


  .well{

    >div{

      >div{
        >.row{

          border-bottom: 1px solid $fenix-light-gray;

          &:last-child{
            border-bottom-color: transparent;
          }

          .row{
            border-bottom-color: transparent;
            h3{
              span{
                position: relative;
                top: 0;
              }
            }
          }


          h3{
            margin-bottom: 0;
            margin-top: 0;

            span{
              position: relative;
              top: 8px;
            }
          }


        }
      }


    }




  }




  .fa-caret-square-o-right:before {
    content: "\f0da";
  }

  .fa-caret-square-o-down:before {
    content: "\f0d7";
  }


  .form-control{
    background-color: transparent;
    border-color: transparent;
    @include fx-noshadow;
    cursor: text;


  }
}

