/* Faostat Download */

.summary-item {
  display: inline-block;
  cursor: pointer;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 3px 3px 3px 0;
  padding: 2px 5px;
}

.v-space {
  margin-top: 16px;
}