<div class="row">
    <div class='col-md-3 fs-tree-holder'>
        <input class='form-control' placeholder='{{filter_domain_tree}}' id='fs-browse-by-domain-search'>
        <br>
        <span class="label label-default">{{faostat_domains}}</span>
        <div id="fs-browse-by-domain-tree"></div>
    </div>
    <div class="col-md-9">
        <h1 id="fs-browse-by-domain-view-title"></h1>
        <p>
            Use this section to create a custom query to extract data from the current domain. Please use the selectors below to filter the data according to your needs. Press the Preview button to have an overview of your selection. Use the Preview Options button to customize the final output. Click on Download As... to get the data in the Excel or CSV format. Please consider to visit the Bulk Downloads sections if you need all the data contained in this domain.
        </p>
        <div id="fs-browse-by-domain-view-related-views"></div>
        <div class="clearfix"></div>
        <div id="fs-browse-by-domain-view"></div>
    </div>
</div>
