
<div class="row">
    <div class="col-md-12">
        <div id="fs-browse-by-domain-view-related-views"></div>
        <div class="clearfix"></div>
        <div id="fs-browse-by-domain-view"></div>
    </div>
</div>
