<select data-role="dd" {{#if ddOptions.multiple}}multiple{{/if}} class="js-example-responsive" style="width: 100%">
    <option></option>
    {{#each data}}
        <option value="{{code}}">{{label}}</option>
    {{/each}}
</select>
