<div class='row'>
    <div class='col-lg-12'>
        <h1>
            Welcome to the FAOSTAT prototype!
        </h1>
        <p>
            This section is not ready yet, we apologize for any inconvenience. To find out more about the next
            releases, please visit the project's <a target='_blank' href='https://github.com/FAOSTAT/faostat-ui/milestones'>roadmap page</a>.
        </p>
        <br>
    </div>
</div>