<!-- FAOSTAT header and menu. -->
<div class='container fao-header' id='faostat_ui_menu'>

</div>

<div class="container" id="main-container"></div>

<!-- FAOSTAT footer. -->
<div class='container fao-header' style='padding-left: 0; padding-right: 0;'>
    <br>
    <div class='row'>
        <div class='col-lg-12' style='color: #fff;'>
            <a class='pull-right' style='margin-right: 16px;'>
                © FAO 2015
            </a>
            <br>
            <a class='pull-right' style='margin-right: 16px;'>
                Country / Territorial Notes
            </a>
        </div>
    </div>
    <br>
    <div style='background-color: #379bce;'>
        <div class='row'>
            <div class='col-lg-12'>
                <p class='pull-right' style='font-size: 14px; color: #fff; margin-right: 16px; margin-top: 10px;'>
                    HELP US WITH YOUR FEEDBACK - <a>GO TO FEEDBACK SYSTEM</a>
                </p>
            </div>
        </div>
    </div>
    <br>
</div>