<div id="site-container"><!-- FAO header container -->
    <div class="container fao-header">
        <div class="row faostat-menu-boot">

            <!--TODO move style to css -->
            <div class="col-lg-12" style='padding-left: 0px; padding-right: 0px;'>
                <div id="fs-head" class="fs-head">
                    <div class="fs-logo-holder">
                        <div class="fs-logo img-responsive"></div>
                    </div>
                    <div class="fs-united hidden-xs hidden-md hidden-sm">

                        <!--TODO move style to css -->
                        <p id="fs-fao" class="truncate" style="padding-top: 1px;">
                            {{fao}}
                        </p>

                        <!--TODO move style to css -->
                        <p class="fs-bold fs-statistics-division truncate" style="padding-top: 1px;">
                            {{statistics_division}}
                        </p>
                    </div>
                    <div class="fs-languages hidden-xs hidden-md hidden-sm">
                        <span data-locale="en" class="fs-lan-selected">ENGLISH</span>|
                        <span data-locale="es" >FRANÇAIS</span>|
                        <span data-locale="fr" >ESPAÑOL</span>
                    </div>
                    <div class="fs-languages hidden-lg">
                        <span data-locale="en">EN</span>|
                        <span data-locale="fr">FR</span>|
                        <span data-locale="es">ES</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top menu container -->
    <!--<div class="container topmenu"></div>-->
    <div class='container fao-header' id='faostat_ui_menu'></div>

    <!-- Breadcrumb container -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="breadcrumb-container"></div>
            </div>
        </div>
    </div>

    <!-- Data mng menu container
    <div class="container data-mng-secondary-menu-container">
        <div id="data-mng-menu-container"></div>
    </div> -->

    <div class="container" id="main-container"></div>

    <!-- Page Footer -->
    <footer class="container fao-footer">
        <div class='row'>
            <div class='col-lg-12' style='color: #fff;'>
                <a class='pull-right' style='margin-right: 16px;'>
                    © FAO 2015
                </a>
                <br>
                <a class='pull-right' style='margin-right: 16px;'>
                    Country / Territorial Notes
                </a>
            </div>
            </div>
            <br>
            <div style='background-color: #379bce;'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <p class='pull-right' style='font-size: 14px; color: #fff; margin-right: 16px; margin-top: 10px;'>
                            HELP US WITH YOUR FEEDBACK - <a>GO TO FEEDBACK SYSTEM</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>