
<div class="{{direction}}">

    <div class="row">
        <div class="col-xs-9 col-sm-8 col-md-9">
            <h1 class="text-capitalize">{{data}}</h1>
        </div>
    </div>

    <div id='fs-data-groups'></div>

</div>