
<div class="row">
    <div class="col-xs-9 col-sm-8 col-md-9">
        <h1 class="text-capitalize">{{data}}</h1>
    </div>
<!--    <div class="col-xs-3 col-sm-4 col-md-3">
        <a class="btn btn-info waves-effect fs-section-back pull-right" data-role="onboarding">
            <i class="material-icons left">help_outline</i>
            <span data-role="text">{{onboarding_text}}Need help with data page?</span>
        </a>
    </div>-->
</div>

<div id='fs-data-groups'></div>