<!--<div class="row">-->

    <!--<input class="typeahead" data-role='search' type="text" placeholder="{{search_faostat}}">-->


<!--</div>-->

<div id="bloodhound">
    <input class="typeahead" type="text" placeholder="States of USA">
</div>


<!--<div id="the-basics">-->
    <!--<input class="typeahead" type="text" placeholder="States of USA">-->
<!--</div>-->