{{#each data}}
    <div class="row clearfix">

        <div class="col-lg-12">
            <div>
             <h3>
                 {{this.label}}
                 <small>({{this.domainCode}})</small>
             </h3>
                 {{#each relations}}
                     <span> {{this.label}} </span>
                 {{/each}}
            </div>

            <button type="button" class="btn btn-default pull-right">Go To Download</button>
            <button type="button" class="btn btn-default pull-right">Go To Browse</button>
            <button type="button" class="btn btn-default pull-right">Export Data</button>

            <hr>

        </div>

    </div>
{{/each}}