
<h1>{{search_data}}</h1>

<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class='active' role='presentation'>
                <a href='#' role='tab' data-toggle='tab'>
                    {{results}}
                </a>
            </li>
        </ul>
    </div>
</div>
<br>

<div class="row">
    <div class='col-md-4'>
        <div class="fs-search-box" id="fs-search-box">
            <span class="icojam_search pull-left fs-search-icon"></span>
            <input data-role="search" class="typeahead" type="text" placeholder="{{search_placeholder}}">
        </div>
    </div>
</div>

<br class="hidden-xs">

<div class="row">
    <br>
    <div class='col-xs-12'>
        <div class="fs-search-results" id="fs-search-results"></div>
    </div>
</div>

<div class="row">
    <div class='col-xs-12'>
        <div class="pull-right" id="pagination"></div>
    </div>
</div>