


<div id="fs-browse-by-country-list-container" style="display:none">

    <!--<div class="col-xs-12">-->
        <!--<h1>{{country_list}}</h1>-->
    <!--</div>-->

<!--    <div class="col-lg-3">
        <input type="text" class="form-control search" placeholder="{{filter_results}}" aria-describedby="basic-addon1">
    </div>
    <div class="col-lg-3">
        <button class="btn btn-default sort" data-sort="fs-browse-by-country-search" type="button">{{sort_by_country}}</button>
    </div>

    <br><br><br>

    -->

</div>

<div id="fs-browse-by-country-profile" style="display:none">

    <div class="row">
        <div class="col-xs-7 col-sm-9 clearfix">
            <h1 class="truncate fs-section-title" id="fs-browse-by-country-profile-title"></h1>
        </div>
        <div class="col-xs-5 col-sm-3 clearfix">
            <!-- TODO: use Common.getURI(ROUTE.DATA)-->
            <a type="button" class="btn btn-link pull-right fs-section-back"
               id="fs-browse-by-country-profile-back">
                <i class="left material-icons">undo</i>
                {{back_to_country_list}}
            </a>

        </div>
    </div>


    <div id="fs-browse-by-country-profile-map" style="height: 250px;"></div>

    <br>
    <br>

    <div id="fs-browse-by-country-profile-dashboard"></div>

</div>
