<!--<ul class="list">-->
<ul class="list">
    {{#each list}}
        <div class="col-sx-12 col-md-3">
            {{#each letter}}
                    {{#each this}}
                        <h1>{{@key}}</h1>
                        {{#each data}}
                            <p><a class="fs-browse-by-country-search" style="color: black" data-id="{{code}}">{{i18n label}}</a></p>
                        {{/each}}
                    {{/each}}
                <hr>
            {{/each}}
        </div>
    {{/each}}
</ul>
