
<div class="row">
    <div class="col-xs-12">

        <h1>Country Profiles</h1>

        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
                <a href="#country_list" data-section="country_list" role="tab" data-toggle="tab"
                   aria-expanded="true">
                    Country list
                </a>
            </li>
        </ul>

    </div>
</div>

<br>


<!--<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <input data-role="search" type="text" class="form-control" placeholder="Search a Countr e.g. Afghanistan, Italy, Zimbabwe">
    </div>
</div>

<br>-->

<div class="country-list-container">

    <div class="menu row-mason">

        {{#each this}}

            <div class="menu-category instafilta-section">

                <h1>{{@key}}</h1>

                <ul class="list-unstyled">

                    {{#each this.data}}
                        <li class="country-list">
                            <a class="instafilta-target" href="{{this.link}}">{{i18n label}}</a>
                        </li>
                    {{/each}}

                </ul>
            </div>

        {{/each}}

    </div>

</div>
