
<ul class="list">
    {{#each data}}
        <div class="col-sx-12 col-md-4">
            <a class="fs-browse-by-country-search" data-id="{{this.code}}">{{i18n this.label}}</a>
        </div>
    {{/each}}
</ul>
