[submodule "submodules/fenix-ui-common"]
	path = submodules/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common.git
[submodule "submodules/fenix-ui-menu"]
	path = submodules/fenix-ui-menu
	url = https://github.com/FENIX-Platform/fenix-ui-menu.git
[submodule "submodules/faostat-ui-tree"]
	path = submodules/faostat-ui-tree
	url = https://github.com/FAOSTAT/faostat-ui-tree.git
[submodule "submodules/fenix-ui-chart-creator"]
	path = submodules/fenix-ui-chart-creator
	url = https://github.com/FENIX-Platform/fenix-ui-chart-creator.git
[submodule "submodules/fenix-ui-map-creator"]
	path = submodules/fenix-ui-map-creator
	url = https://github.com/FENIX-Platform/fenix-ui-map-creator.git
[submodule "submodules/fenix-ui-dashboard"]
	path = submodules/fenix-ui-dashboard
	url = https://github.com/FENIX-Platform/fenix-ui-dashboard.git
[submodule "submodules/fenix-ui-table-creator"]
	path = submodules/fenix-ui-table-creator
	url = https://github.com/FENIX-Platform/fenix-ui-table-creator.git
[submodule "submodules/fenix-ui-olap"]
	path = submodules/fenix-ui-olap
	url = https://github.com/FENIX-Platform/fenix-ui-olap.git
[submodule "submodules/fenix-ui-metadata-viewer"]
	path = submodules/fenix-ui-metadata-viewer
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-viewer.git
[submodule "submodules/fenix-ui-reports"]
	path = submodules/fenix-ui-reports
	url = https://github.com/FENIX-Platform/fenix-ui-reports.git
[submodule "submodules/faostat-ui-bulk-downloads"]
	path = submodules/faostat-ui-bulk-downloads
	url = https://github.com/FAOSTAT/faostat-ui-bulk-downloads.git
[submodule "submodules/faostat-ui-download-selectors-manager"]
	path = submodules/faostat-ui-download-selectors-manager
	url = https://github.com/FAOSTAT/faostat-ui-download-selectors-manager.git
[submodule "submodules/fenix-ui-download-options"]
	path = submodules/fenix-ui-download-options
	url = https://github.com/FENIX-Platform/fenix-ui-download-options.git
[submodule "submodules/faostat-ui-menu"]
	path = submodules/faostat-ui-menu
	url = https://github.com/FAOSTAT/faostat-ui-menu.git
[submodule "submodules/faostat-ui-options-manager"]
	path = submodules/faostat-ui-options-manager
	url = https://github.com/FAOSTAT/faostat-ui-options-manager.git
