<script type='text/x-handlebars-template' id='viewer_structure'>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='export_button_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meIdentification_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meContent_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meInstitutionalMandate_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meStatisticalProcessing_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meDataQuality_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meAccessibility_placeholder'>

            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <div id='meDocuments_placeholder'>

            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='export_pdf_button_structure'>
    <div class='row'>
        <div class='col-xs-12' style='top: 5px;'>
            <div class='pull-right'>
                <button class='btn btn-primary' style='width: 100%;' id='export_pdf_button'>
                    <i class='fa fa-file-pdf-o'></i> {{export_pdf_label}}
                </button>
            </div>
        </div>
    </div>
    <hr>
</script>

<script type='text/x-handlebars-template' id='courtesy_message' >
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <h2 class='text-center'>
                {{message}}
            </h2>
        </div>
    </div>
</script>