<table id="table" data-search="true" data-show-columns="true" data-pagination="true" data-height="250">
    <thead>
    <tr>
        <th data-field="stargazers_count" data-sortable="true">Stars</th>
        <th data-field="name" data-sortable="true" width="200">Name</th>
        <th data-field="forks_count" data-sortable="true">Forks</th>
        <th data-field="description" data-sortable="true">Description</th>
    </tr>
    </thead>
</table>