<table data-role="table"
       data-search="false"
       data-show-columns="false"
       data-show-header="true"
       data-pagination="false">
       <!--data-height="250"-->

    <thead>
    <tr>
    {{#each dsd}}
        <th data-field="{{{this.key}}}" data-sortable="true">{{{this.label}}}</th>
    {{/each}}
    </tr>
    </thead>
</table>