<script type='text/x-handlebars-template' id='selectors_grid' class='faostat-downlaod-selector-grid'>
    <div class='row'>
        <div id='{{prefix}}selectors_grid' class="faostat-downlaod-selector-grid-main"></div>
    </div>
</script>

<script type='text/x-handlebars-template' id='single_selector' >
    <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 faostat-downlaod-selector-single'>
        <div id='{{prefix}}{{selector_id}}'></div>
    </div>
</script>