<div class="col-sm-12" id="fx-dashboard">
        <h1>{{this.title}}</h1>
        <div class="fx-dashboard-grid" id="fx-dashboard-container">
          <div id="grid-gutter-sizer" class="fx-dashboard-grid-gutter-sizer"></div>
           <!--   <div id="grid-sizer" class="fx-dashboard-grid-sizer"></div>   -->
        </div>
</div>