<div class="col-xs-9 fx-catalog-modular-form-wrapper">
    <div class="fx-catalog-welcome" style="display: none;">
        <div id="fx-catalog-modular-form" class="fx-catalog-modular-form-container" style="position: relative; height: 163px;">
            <div class="fx-catalog-form-module" data-module="uid" data-size="half" style="position: absolute; left: 0px; top: 0px;">
                <div class="fx-catalog-modular-form-holder">
                    <div class="fx-catalog-modular-form-header">
                        <div class="fx-catalog-modular-form-handler"></div>
                        <div class="fx-catalog-modular-form-label">Uid</div>
                        <div class="fx-catalog-modular-form-resize-btn" style="background-position: -30px 0px;"></div>
                        <div class="fx-catalog-modular-form-close-btn"></div>
                    </div>
                    <div id="fx-catalog-module-4" class="fx-catalog-modular-form-content">
                        <div id="fx-uid-id" class="name-class">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx-resume-bar">
    </div>
    <div class="container">
        <div id="myModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
        </div>
    </div>
</div>
