     <div class="{{this.size.css}}" id={{this.id}}>
    <div class="fx-dashboard-grid-item-header">
         <div class="fx-catalog-modular-form-handler"></div>
         <div class="fx-catalog-modular-form-label">{{this.title}} </div>
         <div class="fx-catalog-modular-form-resize-btn"></div>
  </div>






