<template id='template'>

    <div class="row">
        <div class="col-md-12">
            <div class="definitions-domain" data-role="list"></div>
            <p style="display:none" data-role="no-list-avaiable">{{no_data_available}}</p>
        </div>
    </div>
   <div class="row">
        <div class="col-md-12">
            <div class="definitions-domain-output" data-role="output"></div>
        </div>
    </div>

</template>

<template id='list'>

    <div class="row-mason">
        <ul class="list-unstyled">
            {{#each this}}
                    {{#each this}}
                        <li class="truncate">
                            <a data-role='definition' data-code='{{this.code}}' data-label='{{this.label}}' href="#">{{this.label}}</a>
                        </li>
                    {{/each}}
            {{/each}}
        </ul>
    </div>

</template>