/* Base style File */

body{

  background-color: $fenix-light-bg;

}


.container{
  background-color: white;
}

.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper{
  text-transform: uppercase;
}

.btn{
  @include fx-border-radius(5);
  height: 25px;
  min-width: 100px;
  padding: 3px 12px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  margin: 3px;

  &:hover{
    background-color: $superlight-gray;
    //border-color: transparent;
    border: 1px solid $buttons;
    color: $buttons;
  }

}

.container {
  background-color: white;
}

/* TEMPORARY */

//.btn.btn-default.json-editor-btn-collapse {
//  color: $fx-cool-blue !important;
//  border-color: transparent !important;
//  i {
//    color: $fx-cool-blue !important;
//    &:before{
//      content:'EXPAND';
//      font-size:10px;
//      color: $fenix-text;
//    }
//  }
//}


.btn-table-go, .btn-scores-go{
  background-color: $buttons;
  color: white;


  &:hover, &:active, &:visited, &:focus{
    background-color: $buttons;
    border-color: transparent;
    color: white;
  }

}

.btn-reset{
  background-color: white;
  color: $fenix-text;
  border-color: transparent;

  &:hover, &:active, &:visited, &:focus{
    background-color: white;
    border-color: transparent;
    color: $fenix-text;
  }
}

a {
  color: #ddd;
  cursor: pointer;
}
a:focus {
  outline: none;
}
a:active {
  outline: none;
}


