/* Base style File */

body {
  font-family: "FrutigerLTW02-45Light",Arial,Helvetica,Verdana,sans-serif;
  background-color: $fenix-light-bg;

}

.container, .container-fluid {
  background-color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper {
  text-transform: uppercase;
}

.btn {
  @include fx-border-radius(0);
  background-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  outline: none;

}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus,
.btn-info:hover, .open > .dropdown-toggle.btn-info, .btn-default.active, .btn-default.focus, .btn-default:active,
.btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  background-color: $superlight-gray;
  //border-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  outline: none;
  @include fx-noshadow;
}

.navbar-brand{
  padding: 0;
  //background-color: $fx-cool-blue-alt;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  //background-color: $fx-cool-blue-alt;
}

#faostat_ui_menu{

  .navbar{
    border: 0;
    margin: 0 -15px;

  }

}

