/* Base style File */

body{

  background-color: $fenix-light-bg;

}

.container{
  background-color: white;
}

.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper{
  text-transform: uppercase;
}

.btn{
  @include fx-border-radius(5);
  height: 25px;
  min-width: 100px;
  padding: 3px 12px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  margin: 3px;

  &:hover{
    background-color: $superlight-gray;
    //border-color: transparent;
    border: 1px solid $buttons;
    color: $buttons;
  }

}



