/* Base style File */

body {

  background-color: $fenix-light-bg;

}

.container {
  background-color: white;
}

.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper {
  text-transform: uppercase;
}

.btn {
  @include fx-border-radius(0);
  height: 25px;
  min-width: 100px;
  padding: 3px 12px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  margin: 3px;
  outline: none;

}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus,
.btn-info:hover, .open > .dropdown-toggle.btn-info, .btn-default.active, .btn-default.focus, .btn-default:active,
.btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  background-color: $superlight-gray;
  //border-color: transparent;
  border: 1px solid $buttons;
  color: $buttons;
  outline: none;
  @include fx-noshadow;
}

