.nav-tabs {

 // border-color: transparent;
  //border-left: 10px;


  @include fx-transfor-me(translateX(-10px));

  >li {

    padding: 0px 0px 0px 10px;

    margin-bottom: 0;

    >a {

      padding: 5px 10px 5px;

      color: $fenix-text;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;

      &:hover, &:active, &:visited, &:focus,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        background-color: transparent;
        border-color: transparent;
      }

      &:before {
        @include animate;
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $fx-cool-blue;
        left: 0;
        bottom: -2px;
        pointer-events: none;
        @include fx-transfor-me(scaleX(0));
      }

    }


    &.active {

      >a {
        color: $fx-cool-blue;
        background-color: transparent;
        border-color: transparent;

        &:hover, &:active, &:visited, &:focus{
          color: $fx-cool-blue;
          background-color: transparent;
          border-color: transparent;
        }


        &:before{
          @include animate;
          @include fx-transfor-me(scaleX(0.8));

        }

      }

    }


  }
}

/*.tab-content {
  padding-top: 10px;

  > div {
    padding: 0;
  }


}*/




//.li{
//  margin: 12px 0;
//
//}