.preview_options_placeholder {

  .standard-hr {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }

  label {
    margin-left: 0 !important;
    padding-left: 4px !important;
  }

  input.form-control {
    margin-top: 6px !important;
  }

}

.preview_options_hr {
  margin-bottom: 10px !important;
}