
{{#each this}}
    <li class="fs-home-update">
        <!-- TODO: change with links from Commmon.getURI -->
        <h5><a href='#' data-role="go_to_download" data-code='{{this.domain_code}}'>{{this.title}}</a></h5>
        <p>{{this.date}}</p>
        <hr>
    </li>
{{/each}}