{{#each data}}
    <div class="col-xs-12">
        <!-- TODO: probably this should not be an <h2> -->
        <h5>{{this.title}}</h5>

        <ul>

        {{#each this.data}}

            <li>
                <a href='#' data-role="go_to_download" data-code='{{this.code}}'>{{this.domainName}} ({{this.groupName}})</a>
            </li>

        {{/each}}

        </ul>

    </div>
{{/each}}