
{{#each this}}
    <div class="fs-home-update">
        <h5><a href='#' data-role="go_to_download" data-code='{{this.domain_code}}'>{{this.title}}</a></h5>
        <p>{{this.date}}</p>
        <hr>
    </div>
{{/each}}