
{{#each this}}
    <div class="fs-home-update">
        <!-- TODO: probably this should not be an <h2> -->
        <h5 style="text-transform: capitalize;">{{this.title}}</h5>

        <ul>

        {{#each this.data}}

            <li>
                <a href='#' data-role="go_to_download" data-code='{{this.DomainCode}}'>{{this.DomainName}} ({{this.GroupName}})</a>
            </li>

        {{/each}}

        </ul>

    </div>
{{/each}}