{{#each data}}
    <div class="col-sm-3">
        <!-- TODO: probably this should not be an <h2> -->
        <h2>{{this.label}}</h2>
        <div class="pull-right">

            <!-- TODO: add an handlebars check if is valid for browse and download -->
            {{#if addBrowse}}
                <button type="button" data-code="{{this.code}}" data-role="go_to_browse" class="btn btn-defaut">
                    <span><i class="fa fa-bar-chart"></i></span>
                    Browse
                </button>
            {{/if}}

            <button type="button" data-code="{{this.code}}" data-role="go_to_download" class="btn btn-defaut">
                <span><i class="fa fa-download"></i></span>
                Download
            </button>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
{{/each}}