
<!--TODO: legacy not used anymore -->
{{#each data}}
    <h5>{{{i18n this.title}}}</h5>
    <ul>
        {{#each data}}
            <li>{{{i18n this.text}}}</li>
        {{/each}}
    </ul>
{{/each}}