<style>
    .fx-ds-item { width: 50%; }
    .fx-ds-item.w2 { width: 100%; }

    /*TODO: move it from here*/
    /*.fx-map-chart {*/
        /*width: 100%;*/
    /*}*/
</style>

<div class="row">
    <div class="col-xs-12">
        <div data-role="grid-container"></div>
    </div>
</div>