<script type='text/x-handlebars-template' id='faostat_ui_standards_methodology_structure'>
    <div class='row'>
        <div class='col-lg-3'>
            <h1>FAOSTAT Methodologies</h1>
            <div id='methodologies_tree'></div>
        </div>
        <div class='col-lg-9'>
            <h1>Agri-environment: Energy use in Agriculture and Forestry</h1>
            <div id='methodologies_content'>
                <h2 class='text-center'>
                    Please select a methodology by using the tree on the left.
                </h2>
            </div>
        </div>
    </div>
    <br>
</script>