
<h1>Status</h1>
<h3>Warning Domains</h3>
<div id="fs-status-warning"></div>
<hr>

<h3>Groups</h3>
<div id="fs-status-groups"></div>
<hr>

<h3>Groups And Domains</h3>
<div id="fs-status-groups-and-domains"></div>

<hr>
<div id="fs-status-domains-details"></div>
