
.definitions-domain {

  .row-mason {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;

    li {
      overflow: hidden;
      margin-bottom:5px;
      margin-top:5px;
    }

  }

}

.definitions-domain-output {

  padding-top:25px;

}