
.fs-icons-stack {
  // taken from google inbox
  position: fixed;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  z-index: 1000; //21; TODO: fix with the z-index map
  padding: 23px 12px 23px 15px;

  a {
    margin-bottom: 0px;
  }

}

// Arabic override
/*.ar {

  .fs-icons-stack {
    left: 0;
  }

}*/