/* Jstree Mood */


li[role="treeitem"]{

  //background-color: white !important;

/*
  &:nth-child(odd){
    background-color: #fff !important;
  }*/


  &:nth-child(odd){
    background-color: #fff !important;
  }

  &:nth-child(even){
    background-color: #fff !important;
  }

}


ul[role="group"] {
  background-color: white !important;

  .jstree-node {
    background-color: red;
  }
}


.jstree-container-ul{
  width: calc(100% - 25px);
}

.jstree-default>.jstree-no-dots .jstree-leaf>{
  //display: none;


}

.jstree-icon.External{
  display: inline-block;
  background-image: none;

  &:before{
    content: 'E';
    font-style: normal;
    background-color: $fenix-text;
    display: inline-block;
    color: white;
    line-height: 15px;
    width: 15px;
    height: 15px;


  }
}

.jstree-disabled{
  opacity: 0.5;
}

/* Override Fenix Tree */
.jstree-default-responsive .jstree-anchor {
  white-space: normal;
  //line-height: normal;
  height: auto;
}


[role='treeitem']{
  position: relative;

  &:nth-child(even){
    // background-color: black;
  }

  .jstree-wholerow{
    height: 100%;
  }



  .jstree-wholerow-clicked{
    height: 100%;
  }

  &[aria-expanded='true']{
    //background-color: white;

    [role='group']{

      .jstree-ocl{
        display: none;
      }

      .jstree-anchor{
        padding-left: 35px;
        .jstree-checkbox{
          position: absolute;
          left: 10px;
        }

      }

    }

  }

}


.jstree-default .jstree-wholerow{

}





.jstree-default .jstree-wholerow-clicked{

}

/* Fenix - Js tree */
//$fx-ui-common: '../submodules/fenix-ui-common';

.jstree-default {

  .jstree-search{
    color: $fenix-text;
    font-weight: 300;
    font-style: normal;
  }
}

.jstree-default .jstree-themeicon{
  display: none; /* It hides folder icon */
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon{
  background-image: url("#{$fx-ui-common}/css/img/treejs-32px.png");
}


.jstree-default .jstree-wholerow-clicked{
  background: none;
  background-color: $fx-main-color-light;
}

.jstree-default .jstree-wholerow-hovered{
  background: none;
  background-color: $fx-main-color-lighter;
}

.jstree-default > .jstree-wholerow-ul .jstree-hovered, .jstree-default > .jstree-wholerow-ul .jstree-clicked {

}
