/* .modal-fullscreen */
.modal-fullscreen {
  //background: transparent;
}
.modal-fullscreen .modal-content {
  //background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin-top: 30px;
  margin-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    //width: 750px;
    width: 700px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    //width: 970px;
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    //width: 1000px;
    width: 1130px;
  }
}