
.fs-report-table {

  font-size: 13px;

  thead {


    th {
      color: #337ab7;
      //border-bottom: 1px solid #ddd !important;
      font-size:14px;
    }

  }

  tbody {

    tr {

      &.row-shade {
        //background-color: #cfe1f2;
       // color: #ffffff;
        font-weight: bold;

       &:hover {
          // background-color: #cfe1f2;
           //color: #ffffff;
        }

      }

    }

    td {
      //padding: 5px;
    }

  }

}