[class^="tooltip"] {
  position: relative;
}
[class^="tooltip"]:after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: attr(data-tooltip);
  padding: 6px 10px;
  //top: 1.4em;
  //top: 15px;
  top: 15px;
  //left: 50%;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-2px);
  transform: translateX(-50%) translateY(-2px);
  background: grey;
  color: white;
  white-space: nowrap;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
[class^="tooltip"]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}

.tooltip--left:after {
  //top: -4px;
  top:15px;
  left: 0;
  -webkit-transform: translateX(-112%) translateY(0);
  transform: translateX(-112%) translateY(0);
}
.tooltip--left:hover:after {
  -webkit-transform: translateX(-110%) translateY(0);
  transform: translateX(-110%) translateY(0);
}

.tooltip--right:after {
  top:15px;
  left: 100%;
  -webkit-transform: translateX(12%) translateY(0);
  transform: translateX(12%) translateY(0);
}
.tooltip--right:hover:after {
  -webkit-transform: translateX(10%) translateY(0);
  transform: translateX(10%) translateY(0);
}

.tooltip--triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px grey;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-2px);
  transform: translateX(-50%) translateY(-2px);
  top: 1.1em;
  left: 50%;
  -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 3;
}
.tooltip--triangle:hover:before {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}