.gt-hd-split {
  background-color: transparent;
  width: auto;
  cursor: col-resize;
  top: 3px;
}

.gt-hd-row td {
  background-color: #337ab7;
}

.gt-hd-row .gt-hd-row-over {
  background-color: #174c74 !important;
}

.gt-hd-row td .gt-inner {
  color: #fff;
}

.pvtRows:before {
  top: 0 !important;
  margin-right: 31px;
}

.pvtCols:before {
  top: 0 !important;
  margin-right: 8px;
}

.pvtAxisContainer li span.pvtAttr {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}