/* Fenix - Panel Component */

.panel-group {
  margin-bottom: 0px;

  .panel {
    @include fx-border-radius(0);
    background-color: transparent;
    border: none;
    border-bottom: $fenix-thin-border;
  }

  .panel-default {
    @include fx-noshadow;
  }

  .panel-default:last-child {
    border-bottom-width: 0px;
  }

  .panel-heading {
    background-color: transparent;
    @include fx-border-radius(0);
    padding: 10px;

    .panel-title{
      font: $standard-text-big;

      a {
        @include fx-anchor-plain;
        text-transform: uppercase;
      }



    }

  }

  .panel-heading.fx-active-panel .panel-title a {
      color: $fx-cool-blue;
  }

  .panel-body{

    .btn{
      @include fx-btn-transparent;
      text-align: left;
      position: relative;

      span.fa{
        margin-right: 10px;
      }
    }

  }

}

.fx-panel-plus, .fx-panel-minus, .fx-panel-required {
  display: inline-block;
  margin-right: 25px;
}

.fx-panel-plus {
  @include fx-small-icons(-90px,0);
}

.fx-panel-minus {
  @include fx-small-icons(-90px,-15px);
}

.fx-panel-info {
  @include fx-small-icons(0,0);
  float: right;
  //margin-top: 10px;
}

.fx-panel-required {
  @include fx-small-icons(-15px,-15px);
}

.fx-panel-ok{
  @include fx-small-icons(-45px,-15px);
}

.fx-panel-remove{
  @include fx-small-icons(-60px,-15px);
}

.fx-panel-refresh{
  @include fx-small-icons(-75px,-15px);
}

