/* Fenix Range Slider */


.ui-rangeSlider-innerBar{
  height: 3px !important;
  top: 7px !important;
  background-color: $fenix-hr !important;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
  background: url(img/arrow-left-on.svg) no-repeat !important;
  width: 48px;
  height: 48px;
  background-position: -16px -15px !important;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
  background: url(img/arrow-right-on.svg) no-repeat !important;
  width: 48px;
  height: 48px;
  background-position: 16px -15px !important;

}

.ui-rangeSlider-label.ui-rangeSlider-rightLabel{
  background-image: url("img/label.png") !important;
  margin-bottom: 5px !important;
}

.ui-rangeSlider-label.ui-rangeSlider-leftLabel{
  background-image: url("img/label.png") !important;
  margin-bottom: 5px !important;
}

.ui-rangeSlider-label-value{
  font-size: 12px;
  font-weight: 500;
}

.ui-rangeSlider-leftHandle, .ui-rangeSlider-rightHandle{
  width: 20px !important;
  height: 20px !important;
  background-color: $fx-cool-blue !important;
  @include fx-border-radius(100%);
}

.ui-rangeSlider-bar{
  background-color: $fx-cool-blue !important;
  margin-top: 8px !important;
  height: 5px !important;
}