/* Fenix Section Switcher */

.fx-section-switcher{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  >li {

    margin-bottom: 10px;
    display: inline-block;

    >a {

      padding: 0 10px;

      color: $fenix-text;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;

      &:first-child{
        padding-left: 0;
      }


      &:hover, &:active, &:focus{
        text-decoration: none;
      }


    }


    &.active {

      >a {

        &:before {

          content: '';
          position: absolute;
          width: calc(100% - 20px);
          height: 2px;
          background-color: $fx-cool-blue;
          left: 10px;
          bottom: -2px;
          pointer-events: none;
        }


        &:first-child{

          &:before{
            left: 0;
            width: calc(100% - 10px);

          }

        }


      }

    }


  }

}

