/* Fenix Upload Component */

.fx-uploader-container{


  .fx-uploader-header{
    padding: 10px 0;
    border-bottom: 1px solid $fenix-hr;
  }

  #fx-uploader-input{
    display: none;
  }

  .fx-widget-icons{
    cursor: pointer;
  }


}


.fx-uploader-item{
  margin-top: 15px;
  position:relative;


  .uploader-item-header{
    background-color: $fenix-light-bg;
    padding: 15px;

  }

  .item-title{
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    margin-top: 0;
  }

  .file-type{
    position: relative;
    top:-2px;
    left: 5px;
    text-transform: uppercase;
    font-weight: 300;

  }

  .file-description{
    color: $fenix-secondary-text;
  }

  .fx-uploader-item-remove{
    position: absolute;
    right: 15px;
    top:15px;
    cursor:pointer;
  }


  .fx-uploader-item-list-container{
    height: 20px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: $fenix-light-bg;
    border-top: 1px solid $fenix-hr;
    @include animate();

    &[data-status="error"]{
      background-color: red;
      color: white;
    }

    &[data-status="done"]{
      background-color: green;
      color: white;
    }

    ul{
      position: relative;
      @include animate();


      li{
        height: 20px;


        padding: 0 15px;
        line-height: 20px;

        .step-icon{
          margin-right: 5px;

        }

      }

    }



  }



}