/* Fenix - Resume Bar Component */

.fx-resume-bar {
  padding-right:150px;

  background-color: $fx-site-bg;
  position: relative;
}

#fx-resume {
  background-color:white;
  padding-top: 20px;
  min-height: 60px;
}

.fx-resume-title{
  color: $fx-cool-blue;
  padding-left: 15px;
  padding-top: 5px;
  font: $fx-text-smalltitle-normal;
  position: absolute;
  top: 0;
}

.fx-resume-noitem{
  padding-left: 15px;
  position: absolute;
  top: 15px;
}

#fx-catalog-submit-btn {
  color: white;
  text-transform: uppercase;
  background-color: $fx-cool-blue;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include fx-border-radius(0);


  &.disabled {
    background-color:  $fx-site-bg;
    opacity: 1;
    border-color: $fenix-text;
    color: $fenix-text;

  }

}

.fx-resume-item-selected{
  position:relative;
  border-top: 5px solid white;
  border-bottom: 5px solid white;

  .fx-resume-module-title{
    display: inline-block;
    width: 20%;
    padding-left: 15px;

    em{
      font: $fx-text-smalltitle-normal;
      color: $fx-cool-blue;
      font-size: 12px; /* Not expected */
      position: absolute;
      top: 0;
    }

  }

  .fx-resume-module-list-holder{
    display: inline-block;
    max-width: 80%;
    padding-right: 15px;

    .fx-resume-module-list{
      display: inline-block;
      @include fx-border-radius($fx-border-radius);
      border: 1px solid $fenix-hr;

    }

  }

}


.fx-resume-obj-close{
  display: inline-block;

  @include fx-small-icons(-45px, 0);
  cursor: pointer;
  position: relative;
  top: 3px;
}

.fx-resume-list-obj{
  display:inline-block;

  .fx-resume-obj-value{
    display: inline;
    margin-right:7px ;
  }

  .fx-resume-item-selected i{

  }
}