/* Fenix - Top Menu Component */

.navbar ul {
  list-style: outside none none;
  padding-left: 0;
}
.navbar .container {
  position: relative;
}
.navbar-default {
//  background-color: white;
}
.nav-pills li a {
  color: $fenix-text;
}
.navbar-brand {
  //background-image: url("img/fenix-ico.svg");
  background-position: 0 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
//  min-height: 50px;
//  padding: 0;
//  min-width: 50px;

}
.navbar .lang_picker {

  text-transform: uppercase;
}
.navbar .lang_picker li {
  cursor: pointer;

}
.navbar .lang_picker li a, .navbar .lang_picker li a:hover {

//  display: inline-block;
//
//  line-height: 1.7;
//  padding: 0 5px;
  text-align: center;
  text-decoration: none;
}
.navbar .lang_picker li a:hover, .navbar .lang_picker li a.selected {




}
.navbar .lang_picker li:last-child {
  border-right: medium none;
}

