/* Fenix - Modular Form Component */

.fx-catalog-modular-form-holder{
  @include fx-obj-box;
  padding: 5px;
  margin: 0;
}


.fx-catalog-modular-form-wrapper {
  padding-right: 0;
  /*overflow: hidden;*/
  min-height: 250px;
  position: relative;
  background-color:$fenix-light-bg;
}

.fx-catalog-modular-form-container {

}

.fx-catalog-form-module {

}

.fx-catalog-modular-form-header {
  position: relative;
  height: 30px;
}

.fx-catalog-modular-form-handler {
  position: absolute;
  left: 7px;
  top: 7px;
  @include fx-small-icons(-15px, 0);
  cursor: pointer;
}

.fx-catalog-modular-form-close-btn {
  position: absolute;
  top: 7px;
  right: 7px;

  @include fx-small-icons(-45px, 0);
  cursor: pointer;
}

.fx-catalog-modular-form-resize-btn {
  position: absolute;
  top: 7px;
  right: 28px;

  @include fx-small-icons(-30px, 0);
  cursor: pointer;
}

.fx-catalog-modular-form-label {
  position: absolute;
  top: 4px;
  left: 30px;
  font-weight: 300;
  color: $fx-secondary-color;
}

.fx-catalog-modular-form-content {
  padding: 10px 10px 10px 10px;
  height: 100px;
}

div[data-module]{
  .fx-catalog-modular-form-content{
    height: 173px;
  }
}

div[data-module="region"]{
  .fx-catalog-modular-form-content{
    height: 263px;
  }
}

div[data-module="referencePeriod"] .fx-catalog-modular-form-content {
  height: 263px; }

div[data-module="sector"] .fx-catalog-modular-form-content {
  height: 263px; }