/* Fenix - Inputs Component */

/* remove x icon in IE 10+ */
input[type=text]::-ms-clear { display: none; }

/* Input Placeholder*/

.form-control::-webkit-input-placeholder { /* WebKit browsers */
  opacity: .5;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: .5;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: .5;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  opacity: .5;
}