

<!--<ul>
</ul>
<div class="row fs-menu-search-container">
    <span class="icojam_search fs-search-icon"></span>
    <input data-role="search" placeholder="Search Data" class="typeahead" type="text" placeholder="{{search_data}}">
</div>-->

<!--

<ul>
    <li class="pull-right fs-menu-search-container">
        <span class="icojam_search pull-left fs-search-icon"></span> <input data-role="search" placeholder="Search Data" class="typeahead" type="text" placeholder="{{search_data}}">
    </li>
</ul>-->

<div class="row">
    <div class='col-md-6'>
        <span class="icojam_search pull-left fs-search-icon"></span>
        <input data-role="search" placeholder="Search Data" class="typeahead" type="text" placeholder="{{search_data}}">
    </div>
</div>

<div class="row">
    <div class='col-xs-12'>
        <div id="search_results"></div>
    </div>
</div>

<div class="row">
    <div class='col-xs-12'>
        <div class="pull-right" id="pagination"></div>
    </div>
</div>