<script type='text/x-handlebars-template' id='dropdown_item'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <h3>
                <a  target='_blank' href='{{item_url}}'>
                    <i class='fa fa-archive'></i> {{item_text}} <span class='badge' style='float: right;'>{{item_size}}</span>
                </a>
            </h3>
        </div>
    </div>
</script>