
<div id="fs-abbreviations-table-toolbar" style="display:none">
    <a class="btn-floating waves-effect waves-light btn-default"
       data-role="export">
        <i class="material-icons">file_download</i>
    </a>
</div>

<div data-role='table' class="fs-content-padding"></div>