<!--<h2>{{title}}</h2>-->
<!--<br>-->

<div class="row">
    <div class="col-md-4">
        <!--<h2>{{methodology_list}}</h2>-->
        <h2>{{title}}</h2>
        <hr>
        <div id="fs-methodology-tree"></div>
    </div>
    <div class="col-md-8">

        <!-- TODO: REMOVE THE INLINE STYLE-->
        <div id="fs-methodology-intro">
            <h1 style='margin-top:200px;' class="text-center">{{select_methodology}}</h1>
        </div>

        <div id="fs-methodology-output"></div>
    </div>
</div>