<div class='row'>
    <div class='col-lg-12'>
        <ul class='nav navbar-nav pull-right'>
            <!--<li>-->
                <!--<a href='#/en/standards/methodologies/' id='methodology_link'>-->
                    <!--Methodology-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href='#/en/standards/classifications/' id='classifications_link'>-->
                    <!--Classifications-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href='#/en/standards/units/' id='units_link'>
                    Units
                </a>
            </li>
            <!--<li>-->
                <!--<a href='#/en/standards/glossary/' id='glossary_link'>-->
                    <!--Glossary-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href='#/en/standards/abbreviations/' id='abbreviations_link'>
                    Abbreviations
                </a>
            </li>
        </ul>
    </div>
</div>

<div class='row'>
    <div class='col-lg-12'>
        <div id='standards_content'>
            <p>
                Your content here.
            </p>
        </div>
    </div>
    <br><br><br><br>
</div>                       ,