<!--TODO: remove active class -->
<!-- TODO: remove <br> -->

<!-- Tabs -->
<div class='row'>
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class='active' role='presentation'>
                <a href='#fs-units' data-section='units' role='tab' data-toggle='tab'>
                    {{units}}
                </a>
            </li>
            <li role='presentation'>
                <a href='#fs-abbreviations' data-section='abbreviations' role='tab' data-toggle='tab'>
                    {{abbreviations}}
                </a>
            </li>
            <li role='presentation'>
                <a href='#fs-methodology' data-section='methodology' role='tab' data-toggle='tab'>
                    {{methodology}}
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Tab Contents -->
<div class="tab-content">

    <div class="tab-pane active" id="fs-units"></div>

    <div class="tab-pane" id="fs-abbreviations"></div>

    <div class="tab-pane" id="fs-methodology"></div>

</div>
<br><br><br><br>