<h2>{{title}}</h2>
<br>

<div id="fs-abbreviations-table">

    <div class="row">
        <div class="col-lg-3">
            <input type="text" class="form-control search" placeholder="{{filter_results}}" aria-describedby="basic-addon1">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-default sort" data-sort="fs-mes-code" type="button">{{sort_by_title}}</button>
        </div>
    </div>

    <br><br>

</div>