<h2>{{title}}</h2>
<br>

<div id="fs-units-table">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="fs-mes-label">
        {{sort_by_title}}
    </button>
    <br><br>

</div>