<!--<h2>{{title}}</h2>-->
<!--<br>-->

<div class="row">

    <div class="col-md-3 fs-tree-holder fs-methodology-tree-holder">
            <input class='form-control' placeholder='{{search_methodology}}' data-role='search-tree'>
            <br>
            <span class="label label-default">{{methodology}}</span>
            <div id="fs-methodology-tree"></div>

    </div>

    <div class="col-md-9">

        <!-- TODO: REMOVE THE INLINE STYLE-->
        <div id="fs-methodology-intro">
            <br><br><br><br>
            <h1 class="text-center">{{select_methodology}}</h1>
        </div>

        <div id="fs-methodology-output"></div>
    </div>

    <br><br>

</div>