<!--<h2>{{title}}</h2>-->
<!--<br>-->

<div class="row">
    <div class="col-lg-3">
        <!--<h2>{{methodology_list}}</h2>-->
        <h2>{{title}}</h2>
        <hr>
        <div id="fs-methodology-tree"></div>
    </div>
    <div class="col-lg-9">
        <div id="fs-methodology-intro">
            <h1>{{select_methodology}}</h1>
        </div>
        <div id="fs-methodology-output"></div>
    </div>
</div>