<div class='row'>
    <div class='col-lg-12'>
        <ul class='nav navbar-nav pull-right'>
            <li>
                <a href='{{methodology_link}}' id='methodology_link'>
                    Methodology
                </a>
            </li>
            <li>
                <a>
                    Classifications
                </a>
            </li>
            <li>
                <a>
                    Units
                </a>
            </li>
            <li>
                <a>
                    Glossary
                </a>
            </li>
            <li>
                <a>
                    Abbreviations
                </a>
            </li>
        </ul>
    </div>
</div>
<div class='row'>
    <div class='col-lg-12'>
        <div id='standards_content'>
            <p>
                Your content here.
            </p>
        </div>
    </div>
</div>