<!--<h2>{{title}}</h2>-->
<!--<br>-->

<div class="row">
    <div class="col-lg-3">
        <!--<h2>{classifications_list}}</h2>-->
        <h2>{{faostat_domains}}</h2>
        <hr>
        <div id="fs-classifications-tree"></div>
    </div>
    <div class="col-lg-9">

        <div id="fs-classifications-intro">
            <h1 style='margin-top:200px;' class="text-center">{{select_classification}}</h1>
        </div>

        <div id="fs-classifications-output"></div>
    </div>
</div>