<h2>{{title}}</h2>
<br>

<div id="fs-units-table">

    <div class="row">
        <div class="col-lg-3">
            <input type="text" class="form-control search" placeholder="{{filter_results}}" aria-describedby="basic-addon1">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-default sort" data-sort="fs-mes-label" type="button">{{sort_by_title}}</button>
        </div>

        <div class="col-lg-2 pull-right">
            <button class="btn btn-default pull-right" type="button" data-role="export">{{export_data}}</button>
        </div>

    </div>

    <br><br>

</div>