
// central content padding

.fs-browse-view-padding {

  margin-top: 30px;

}

.fs-map {

  .panel-body{
    padding: 0;
  }

  .panel-footer{

    p {

      font-size: 11px;

    }

  }

}

.fs-browse-comment-margin{
  margin-top: 5px;
}

.fs-browse-related-views{
  border-bottom-color: transparent;
  margin-bottom: 10px;
}