
// central content padding
.fs-browse-content-padding {

  margin-top: 15px;

}

.fs-browse-view-padding {

  margin-top: 30px;

}

.fs-map {

  .panel-body{
    padding: 0;
  }

  .panel-footer{

    p {

      font-size: 11px;

    }

  }

}


