/* Download */

.fs-download-domain-tree {

  max-height:750px;
  overflow-y: auto;
  overflow-x: hidden;

}

.faostat-downlaod-selector-single{

  .panel-heading{
   // padding: 5px 0;
  }

  .panel-body{
    padding: 0;
  }

  .panel-footer{

    .btn-group{
      width: 100%;

      .btn{
        width: 50%;
      }
    }


  }

}

.faostat-download-selector-resume-holder{
  margin-top: 5px;

  .faostat-summary-item {
    max-height:115px;
    overflow-y: auto;
  }

  .summary-item{
    display: inline-block;
    margin: 3px 0;

    cursor: pointer;
    border: 1px solid $fenix-hr;
    @include fx-border-radius(3px);
    padding: 0 3px;


    &:after {

      content: '';
      @include fx-small-icons($locX: 0, $locY: -15px);
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }

}


.fs-tab-holder{
  overflow: hidden;
  .nav{
    // TODO: fix it. The width is used for tabs in the download-selector component that are longer than the component itself
    width: 1000px;
    border-color: transparent;
  }
}

.fs-table-holder{
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
  font-size: 13px;

  // TODO: check better height
  max-height:700px;
  //text-overflow: ellipsis;
}

.pagination{
  //float: left;
}

.fs-page-number{
  //float: left;
  font-weight: bold;
  padding: 25px;
}




/* Pivot Style */

.pivot .lefttitle, .pivot .toptitle{
  background: none;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-color: #bbb;
}

.pivot .ztitle{
  background: none;
  background-color: $fx-cool-blue;
}

.pivot .collapse_button {
  background-color: transparent;
  border: 1px solid $fenix-hr;
  font-family: $standard-text;
  font-weight: normal;
  color: $fenix-hr;
}

[data-role="output-area"] {
  margin-top: 50px;
}

