/* Download */


.faostat-downlaod-selector-single{

  .panel-heading{
   // padding: 5px 0;
  }

  .panel-body{
    padding: 0;
  }

  .panel-footer{

    .btn-group{
      width: 100%;

      .btn{
        width: 50%;
      }
    }


  }

}


.fs-tab-holder{
  overflow: hidden;
  .nav{
    width: 1000px;
    border-color: transparent;
  }
}

.fs-table-holder{
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
}

.pagination{
  float: left;

}

.fs-page-number{
  float: left;
  padding: 25px;
}


/* Pivot Style */

.pivot .lefttitle{
  background-color: transparent;
  background: none;
}

.pivot .collapse_button {
  background-color: $fenix-hr;
  font-family: $standard-text;
  font-weight: normal;
}
