
/* footer */
.fao-footer {
  a {
    color: white;
    cursor: pointer;
  }
  a:focus {
    outline: none;
  }
  a:active {
    outline: none;
  }
}

/* headers lang */
.fs-languages {

  height: 50px;
  position: absolute;
  right: 16px;
  top: 0;
  color: white;
  padding: 15px 0px 0px 0;

  a {
    color: white;
    cursor: pointer;
  }
  a:focus {
    outline: none;
  }
  a:active {
    outline: none;
  }

}
