<div class="row">

    <div class='col-md-3 fs-tree-holder'>
        <input class='form-control' placeholder='{{search_ranking}}' id='fs-browse-rankings-search'>
        <br>
        <span class="label label-default">{{rankings}}</span>
        <div id="fs-browse-rankings-tree"></div>
    </div>
    <div class="col-md-9">
        <div id="fs-browse-rankings-view-not-available" style="display:none">
            <h1 class="text-center">{{select_a_node}}</h1>
        </div>
        <div id="fs-browse-rankings-view-container" style="display:none">
            <h1 id="fs-browse-rankings-view-title" style="padding-top:10px;"></h1>
            <div id="fs-browse-rankings-view"></div>
        </div>
    </div>
</div>