<div class="row">
    <div class="col-sm-3">
        <h1>{{tree_title}}</h1>
        <hr>
        <div id="fs-browse-rankings-tree"></div>
    </div>
    <div class="col-sm-9">
        <div id="fs-browse-rankings-view-not-available" style="display:none">
            <h1 class="text-center">{{select_a_node}}</h1>
        </div>
        <div id="fs-browse-rankings-view-container" style="display:none">
            <h1 id="fs-browse-rankings-view-title"></h1>
            <hr>
            <div id="fs-browse-rankings-view"></div>
        </div>
    </div>
</div>