<div>
    <div data-role="group_title">{{groupname}}</div>
    <div data-role="domain_title">{{domainaname}}</div>
    <div data-role="filters">filters</div>
    <div data-role="summary">summary</div>
</div>