<!--<h1>{{title}}</h1><hr>-->

<!-- Add filter -->

<div class="row">
    <div class="col-lg-3">
        <h4>{{controls}} Compare Controls</h4>
        <hr>
        <!-- TODO: check btn class override by fenix-style? -->
        <button type="button" data-role="add_filter" class="btn btn-success btn-lg"><span><i class="fa fa-filter"></i></span> Add filter</button>
        <br>
        <br>
        <button type="button" data-role="remove_filters" class="btn btn-danger btn-lg"><span><i class="fa fa-filter"></i></span> Remove All Filters</button>

    </div>
    <div class="col-lg-9">
        <h4>Filters</h4>
        <hr>
        <div data-role="filters_container"></div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" data-role="compare_data" class="btn btn-primary btn-lg pull-right"><span><i class="fa fa-database"></i></span> {{compare_data}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div data-role="timerange"></div>
            </div>
        </div>
    </div>
</div>

<br><br>

<!-- Output -->
<div data-role="output" style="display:none">
    <h4>Results</h4>
    <hr>
    <div data-role="chart"></div>
    <br>
    <div data-role="tables_container"></div>
</div>

<br><br><br><br>

