
<div>
    <div class="panel panel-default hoverable">
        <div class="panel-heading clearfix fs-compare-heading">
            <h4>

                <span data-role="group-heading-title">{{filter_box_title}}</span>
                <span class="small" data-role="domain-heading-title"></span>

                <button class="fx-btn-round pull-right" type="button" data-role="remove_filter_box">
                    <span class="fx-icon fx-icon-close" aria-hidden="true"></span>
                </button>
            </h4>
        </div>
        <div class="panel-body" data-role="panel_body_filter_box">
            <div class="row">
                <div class="col-md-3">
                    <div data-role="groups"></div>
                </div>
                <div class="col-md-3">
                    <div data-role="domains"></div>
                </div>
                <div data-role="filters"></div>
            </div>
        </div>
    </div>
</div>