<div>
    <div data-role="group">
        <div data-role="title">{{title}}</div>
        <div data-role="dd"></div>
    </div>
    <div data-role="domain">
        <div data-role="title">{{title}}</div>
        <div data-role="dd"></div>
    </div>

    <div data-role="filters">
        <!-- LIST of the filters depending on the domain -->
    </div>
    <div data-role="summary">summary to be implemented</div>
</div>