<h1>{{title}}</h1>
<!-- Every template has to have a HTML element with data-role="content". It is the place where the chart will be rendered -->

<!-- Add filter -->
<div class="row">
    <div class="col-lg-3">
        <h2>{{filters}}</h2>
    </div>
    <div class="col-lg-3 pull-right">

        <div data-role="add_filter" class="btn pull-right"><i class="fa fa-filter"></i> {{add_filter}}</div>

    </div>
</div>

<!-- Box Selectors Filters -->

<div class="row">
    <div class="col-lg-12">
        <div data-role="filters_container">
            <!-- this contains a list of selector-view -->
        </div>
    </div>
</div>


<!-- Timerange -->
<br>

<div class="row">
    <div class="col-lg-12">

        <div data-role="compare_data" class="btn pull-right"><i class="fa fa-arrow-right"></i> {{compare_data}}</div>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div data-role="timerange"></div>
    </div>
</div>


<!-- Output -->
<br>
<div data-role="output">
    <div data-role="chart">chart</div>
    <div data-role="table">table</div>
</div>

