<h1>{{title}}</h1>
<!-- Every template has to have a HTML element with data-role="content". It is the place where the chart will be rendered -->

<!-- Add filter -->
<div class="row">
    <div class="col-lg-3">
        <h2>{{selectors}}</h2>
    </div>
    <div class="col-lg-3 pull-right">
        <button data-role="add_filter" type="button" class="btn btn-default btn-lg pull-right">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> {{add_filter}}
        </button>
    </div>
</div>

<!-- Box Selectors Filters -->

<div class="row">
    <div class="col-lg-12">
        <div data-role="filters_container">
            <!-- this contains a list of selector-view -->
        </div>
    </div>
</div>


<!-- Timerange -->
<br>

<div class="row">
    <div class="col-lg-12">
        <button data-role="compare_data" type="button" class="btn btn-default btn-lg pull-right">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> {{compare_data}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div data-role="timerange"></div>
    </div>
</div>


<!-- Output -->
<br>
<div data-role="output">
    <div data-role="chart">chart</div>
    <div data-role="table">table</div>
</div>

