<div style="border-style: solid;">

    <h2>{{groupname}}</h2>
    <h2>{{domainname}}</h2>
    <div class="row">
        <div class="col-lg-3">
            <div data-role="groups">
                <div data-role="filter"></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div data-role="domains">
                <div data-role="filter"></div>
            </div>
        </div>
    </div>
    <div data-role="filters">

        <!-- Dynamic list of filters -->
    </div>

</div>