<!--<h1>{{title}}</h1><hr>-->

<!--<h1>Compare (BETA)</h1>-->


<!-- Add filter -->

<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>

            <li class="active" role='presentation'>
                <a data-section='browse_by_domain' role='tab' data-toggle='tab'>{{compare}}</a>
            </li>

        </ul>
    </div>
</div>

<div class="clearfix"></div>

<!--<div class="row fs-content-padding"></div>-->
<!--<div class="clearfix"></div>-->

<!-- Box Selectors Filters -->

<div class="row fs-content-padding">
    <div class="col-lg-12">
        <div data-role="filters_container" class="fs-compare-filter-box">
            <!-- this contains a list of selector-view -->
        </div>
    </div>
</div>

<!-- Timerange -->
<br>

<div class="row">

</div>

<div class="row">
    <div class="col-lg-6">
        <div data-role="timerange"></div>
    </div>
    <div class="col-lg-6">
        <button type="button" data-role="compare_data" class="btn btn-default pull-right"><span><i class="fa fa-database"></i></span> {{compare_data}}</button>
        <button type="button" data-role="add_filter" class="btn btn-default pull-right"><span><i class="fa fa-filter"></i></span> {{add_filter}}</button>
    </div>
</div>

<br><br>

<!-- Output -->
<div data-role="output" style="display:none">
    <h1>Results</h1>
    <hr>
    <div data-role="chart"></div>
    <br>
    <div data-role="tables_container"></div>
</div>

<br><br><br><br>

