<!--<h1>{{title}}</h1><hr>-->

<!--<h1>Compare (BETA)</h1>-->


<!-- Add filter -->

<div class="row">
    <div class="col-lg-3">
        <h1>{{filters}}</h1>
    </div>
    <div class="col-sx-3 pull-right">
        <button type="button" data-role="add_filter" class="btn btn-info btn-lg pull-right"><span><i class="fa fa-filter"></i></span> {{add_filter}}</button>
    </div>
</div>

<!-- Box Selectors Filters -->

<div class="row">
    <div class="col-lg-12">
        <div data-role="filters_container">
            <!-- this contains a list of selector-view -->
        </div>
    </div>
</div>

<!-- Timerange -->
<br>

<div class="row">
    <div class="col-lg-12">
        <button type="button" data-role="compare_data" class="btn btn-primary btn-lg pull-right"><span><i class="fa fa-database"></i></span> {{compare_data}}</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div data-role="timerange"></div>
    </div>
</div>

<br><br>

<!-- Output -->
<div data-role="output" style="display:none">
    <h1>Results</h1>
    <hr>
    <div data-role="chart"></div>
    <br>
    <div data-role="tables_container"></div>
</div>

<br><br><br><br>

