<div id="filters">
    <div>
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>
    <!-- Every template has to have a HTML element with data-role="content". It is the place where the chart will be rendered -->
    <div>Selectors</div>
    <div data-role="filters">filters</div>
    <div data-role="timerange">timerange</div>
    <div data-role="output">
        <div data-role="chart">chart</div>
        <div data-role="table">table</div>
    </div>
</div>