
<br>

<h5>{{section_description}}</h5>

<br>

<div class="row">
    {{#each links}}
        <div class="col-md-6">
            <a href='{{this.link}}'>{{this.label}}</a>
        </div>
    {{/each}}
</div>