<h5>{{section_description}}</h5>
<br>
{{#each links}}
    <div class='row'>
        <div class='col-lg-12'>
            <a href='{{this.link}}'><i class='fa fa-link'></i> {{this.label}}</a>
        </div>
    </div>
    <br>
{{/each}}
</div>