#metadata_container .well.well-sm {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }
#metadata_container .btn.json-editor-btn-collapse {
  background-color: transparent;
  border: 1px solid #2ab896;
  color: #2ab896; }
#metadata_container .btn.json-editor-btn-collapse:hover {
  background-color: #f2f2f2;
  border: 1px solid #2ab896;
  color: #2ab896; }
#metadata_container .form-control[disabled] {
  background-color: #fff; }
#metadata_container .form-control {
  font-weight: 100; }
