#metadata_container {

  .well.well-sm {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h3.btn-group.btn.btn-default.json-editor-btn-collapse {

  }

  .btn.json-editor-btn-collapse {
    background-color: transparent;
    border: 1px solid #2ab896;
    color: #2ab896;
  }

  .btn.json-editor-btn-collapse:hover {
    background-color: #f2f2f2;
    border: 1px solid #2ab896;
    color: #2ab896;
  }

  .form-control[disabled] {
    background-color: #fff;
  }

  .form-control {
    font-weight: 100;
  }

}