* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** Packery Grid related CSS **/
.fx-dashboard-grid {
    /**background: #FDD;
   background: hsla(45, 100%, 40%, 0.2);    **/
}

/* clearfix */
.fx-dashboard-grid:after {
    content: ' ';
    display: block;
    clear: both;
}

.fx-dashboard-grid-gutter-sizer {
    width: 2%;
}

.fx-dashboard-grid-sizer {
    width: 49%;  /**  2 columns per row and 2% gutter 100% - 2% / 2 = 49% **/
}

.fx-dashboard-grid-item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: #d8d8d8;
    border-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin: 10px 0 20px;
    padding: 20px;
    width: auto;
    padding: 5px;
    margin: 0; }

.fx-dashboard-grid-item-header {
    position: relative;
    height: 30px; }

.fx-dashboard-grid-item.w2 { width: 38.8%; /*background: #9C0;*/ }
.fx-dashboard-grid-item.h2 { height:450px; }
.fx-dashboard-grid-item.w5 { width:  49% ; /*background: #90C;*/ /**min-height:450px;**/}
.fx-dashboard-grid-item.w3 { width:  100% ; /*background: #90C;*/ /**min-height:450px;**/}

/**.fx-dashboard-chart >div { height: 100%; width: 100%;}
.fx-dashboard-table >div { height: 100%; width: 100%;}  **/

.fx-dashboard-grid-item.is-dragging,
.fx-dashboard-grid-item.is-positioning-post-drag {
    border-color: white;
    background: #09F;
    z-index: 2;
}

.fx-dashboard-grid-item span {
    padding-left: 70px;
}

.fx-dashboard-grid-item.expand {
    width: 100%;
}

/** highcharts fix to fit in DIV **/
.fx-dashboard-chart .highcharts-container {width: 100% !important; width: 100% !important;}

.fx-dashboard-grid-item.fit {
    width: 100%;
}