<!-- FENIX uploader client - container -->
<div class="fx-uploader-container">

    <div class="fx-uploader-header">
        <span id="fx-uploader-input-opener" class="fx-widget-icons icojam_pill_8"></span>
        <input id="fx-uploader-input" type="file" name="files[]"  accept=".csv" >
    </div>

</div>

<ul id="fx-uploader-list" class="list-unstyled"></ul>








