<template id='fs-citation'>

    <h1>Citation</h1>

    <p>FAO. Reference Year.  FAOSTAT. Title of database. In: Food and Agriculture Organization of the United Nations Statistics Division [online]. Rome. Updated Date.[ cited date] http://faostat3.fao.org/Home/E</p>

    <p> Eg.  FAO. 2007-2013. FAOSTAT Production Quantities by Country. In: Food and Agriculture Organization of the United Nations Statistics Division [online]. Rome. Updated 2015. [ Cited july 12, 2016] http://faostat3.fao.org/Home/E</p>

</template>