<template id='fs-modal'>

    <!-- Modal -->
    <div id="fs-modal" style="display:none;" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{{title}}}</h4>
                </div>
                <div class="modal-body">
                    <div data-role="content"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-link waves-effect" target="_blank" data-dismiss="modal">
                        <i class="material-icons left">close</i>{{close}}
                    </a>
                </div>
            </div>

        </div>
    </div>

</template>