/* Fenix Typography */

body{
  color: $fenix-text;
  font: $standard-text;
}

a{
  color: $fx-cool-blue;

  &:focus{
    outline: none;
  }

  &:active{
    outline: none;
  }

}

.dropdown-menu > li > a{
  font-weight: 300;
  color:$fenix-text;
}

h1{
  font: $fx-text-h1;
  color: $fx-cool-blue;
}

h2{
  font: $fx-text-h2;
  color: desaturate( $fx-cool-blue, 30% );
}

h3{
  font: $fx-text-h3;
  color: desaturate( $fx-cool-blue, 50% );
}

h4{
  font: $fx-text-h4;
  color: desaturate( $fx-cool-blue, 70% );
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small{
  font-family: Roboto;
  font-weight: 700;
  color: $fx-cool-blue;
  text-transform: uppercase;
  font-size: 12px;
}



.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

