<div>
    <div data-role="header">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>
    <!-- Every template has to have a HTML element with data-role="content". It is the place where the chart will be rendered -->
    <div data-role="content"></div>
    <div data-role="footer">{{footer}}</div>
</div>