
<!-- Modal -->
<div id="fs-metadata-modal" style="display:none;" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{metadata}}Metadata</h4>
            </div>
            <div class="modal-body">
                <div data-role="metadata"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{close}}close</button>
            </div>
        </div>

    </div>
</div>


