
<h1 class="text-capitalized">{{definitions_and_standards_title}}</h1>

<div class="row">
    <div class='col-xs-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class="active" role='presentation'>
                <a role='tab' data-toggle='tab'>{{definitions_and_standards}}</a>
            </li>
        </ul>
    </div>
</div>

<div id="fs-definitions-list"></div>

<div id="fs-definitions-output"></div>

<!--<div class="row">



    <div class="col-md-3 fs-tree-holder fs-methodology-tree-holder">
        <input style="display:none" class='form-control' placeholder='{{definitions}}' data-role='search-tree'>
        &lt;!&ndash;<br>&ndash;&gt;
        <div id="fs-definitions-tree"></div>

    </div>

    <div class="col-md-9">

        <div id="fs-definitions-intro">
            <br><br><br><br>
            <h1 class="text-center">Select a definition</h1>
        </div>

        <div id="fs-definitions-output"></div>
    </div>

    <br><br>

</div>-->

