
<h1 class="text-capitalized">{{definitions_and_standards_title}}</h1>

<div class="row">
    <div class='col-md-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class="active" role='presentation'>
                <a role='tab' data-toggle='tab'>{{definitions_and_standards}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class='col-md-2'>
        <div id="fs-definitions-list"></div>
    </div>
    <div class='col-md-10'>
        <div id="fs-definitions-output" style='padding-top:20px;'>
            <h1 style="padding-top:60px;" class="text-center">{{please_select_a_definition_or_standard}}</h1>
        </div>
    </div>
</div>