<div class="row">
    <div class="col-xs-3">
       <h1>{{tree_title}}tree</h1>
       <div id="tree"></div>
    </div>
    <div class="col-xs-9">
        <h1>{{view}}view</h1>
        <div id="view"></div>
    </div>
</div>