<div class="row">
    <div class="col-xs-3">
       <h1>{{tree_title}}</h1>
        <hr>
        <div id="fs-browse-by-domain-tree"></div>
    </div>
    <div class="col-xs-9">
        <h1 id="fs-browse-by-domain-view-title"></h1>
        <hr>
        <div class="row" data-role="filter-box">
        </div>
        <div data-role='dashboard'></div>
    </div>
</div>