{{#if relatedViews}}
    <ul class='nav nav-tabs fs-browse-related-views' role='tablist'>
        {{#each relatedViews}}
            <li role='presentation' {{#if selected}}class="active"{{/if}} >
                <a href='#' data-role="related-view" data-view='{{id}}' role='tab' data-toggle='tab'>
                    {{{i18n title}}}
                </a>
            </li>
        {{/each}}
    </ul>
{{/if}}