<div class="row">
    <div class="col-md-12">
        {{#if comment}}
            <div class="fs-browse-comment-margin">
                {{#if comment.url}}
                    <a href="{{comment.url}}" target="_blank">{{comment.text}}</a>
                {{else}}
                    <p>
                        {{comment.text}}
                    </p>
                {{/if}}
            </div>
        {{/if}}
        <div class="row" data-role="filter-box"></div>
        <div class="row fs-browse-view-padding" data-role='dashboard'></div>
    </div>
</div>