<div class="row fs-browse-content-padding">
    <div class="col-xs-12">

        {{#if comment}}
           <!-- <div class="fs-browse-content-padding">-->

                <!-- TODO: avoid replication of the info icon -->
                {{#if comment.url}}
                        <span class="fa-stack">
                              <i class="fa fa-circle-o fa-stack-2x"></i>
                              <i class="fa fa fa-info fa-stack-1x"></i>
                        </span>
                    <a href="{{comment.url}}" target="_blank">{{comment.text}}</a>
                {{else}}
                    <p>
                        <span class="fa-stack">
                              <i class="fa fa-circle-o fa-stack-2x"></i>
                              <i class="fa fa fa-info fa-stack-1x"></i>
                        </span>
                        {{comment.text}}
                    </p>
                {{/if}}
            <!--</div>-->

        {{/if}}

        <div class="row" data-role="filter-box"></div>
        <div class="row fs-browse-view-padding" data-role='dashboard'></div>
    </div>
</div>