<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        {{text}}
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <h1>{{tree_title}}</h1>
        <div id="tree"></div>
    </div>
    <div class="col-xs-9">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#interactive_download" role="tab" data-toggle="tab" aria-controls="interactive_download">
                        interactive label
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#bulk_downloads" role="tab" data-toggle="tab" aria-controls="bulk_downloads">
                        bulk label
                    </a>
                </li>
                <li role="presentation">
                    <a href="#metadata" role="tab" data-toggle="tab" aria-controls="metadata">
                        metadata label
                    </a>
                </li>
            </ul>
            <div class='tab-content'>
                <div role="tabpanel" class="tab-pane" id="interactive_download">

                </div>
                <div role="tabpanel" class="tab-pane active" id="bulk_downloads">

                </div>
                <div role="tabpanel" class="tab-pane" id="metadata">

                </div>
            </div>
        </div>
    </div>
</div>