
<template id='template'>

    <table id="{{id}}" class="fs-report-table table hover responsive order-column" cellspacing="0" width="100%" data-tableexport-display="always">

    </table>

</template>

<template id='test3'>

    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <h4> Next Update</h4>
        </div>
        <div class="col-md-2">
            <h4>Last Update</h4>
        </div>
        <div class="col-md-2">
            <h4>Last Revision</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4>Production</h4>
        </div>
        <div class="col-md-2">
            <h5><a href="#">Crops</a></h5>
        </div>
        <div class="col-md-2"><p>2016-08-03 - Final</p></div>
        <div class="col-md-2"><p>2016-08-03 - Preliminary</p></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h5><a href="#">Crops processed</a></h5>
        </div>
        <div class="col-md-2"><p>2016-08-03 - Final</p></div>
        <div class="col-md-2"><p>2016-08-03 - Preliminary</p></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h5><a href="#">Animals</a></h5>
        </div>
        <div class="col-md-2"><p>2016-08-03 - Final</p></div>
        <div class="col-md-2"><p>2016-08-03 - Preliminary</p></div>
    </div>

</template>

<template id='test2'>


    <div class="row">
        <div class="col-md-2">
            <h4><a href="#">Crops</a></h4>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b>Next Release</b>
        </div>
        <div class="col-md-8">
            2016-08-03 - Final
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b>Last Release</b>
        </div>
        <div class="col-md-8">
            2016-08-03 - Preliminary
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b>Last Revision</b>
        </div>
        <div class="col-md-8">
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <h4><a href="#">Crops Processed</a></h4>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b> Next Release</b>
        </div>
        <div class="col-md-8">
            2016-08-03 - Final
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b>Last Release</b>
        </div>
        <div class="col-md-8">
            2016-08-03 - Preliminary
        </div>
    </div>
    <div class="row">
        <div style="padding-left:30px;" class="col-md-2">
            <b>Last Revision</b>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</template>