<template id='template'>

    <div data-role='output'></div>
    <h5 class="no-data-available" style="display:none;text-align:center;padding-top:15px;" data-role='no-definition-available'>{{no_data_available}}</h5>

</template>


<template id='output'>

    <div data-role="table-toolbar">
        <a class="btn-floating waves-effect waves-light btn-default"
           data-role='export'>
            <i class="material-icons">file_download</i>
        </a>
    </div>

    <div data-role='table'></div>


</template>